body.fix{
  overflow: hidden;
}

.sudang__calc_close{position: absolute;
  right: 12px;top: 10px;
  width: 18px;height: 18px;
}
.sudang__calc_close::before{
  content: "";display: block;width: 1px;height: 21px;background-color: #fff;
  transform: rotate(45deg);position: absolute;left:10px;top:0
}
.sudang__calc_close::after{
  content: "";display: block;width: 1px;height: 21px;background-color: #fff;
  transform: rotate(-45deg);position: absolute;left:10px;top:0
}

/* 레이어팝업 */
.sudang__calc_layer{
  position: fixed;width: 100vw;height: 100vh;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;align-items: center;
  z-index: 100;
  display: none;
  opacity: 0;
}
.sudang__calc_layer.on{
  display: flex;animation: fade_in 0.2s forwards;
}
.sudang__calc_layer_box{
  background-color: #fff;
  width: 90vw;border-radius: 17px;
  overflow: hidden;  
}
.sudang__calc_layer_con{
  overflow: auto;
  max-height: 80vh;
}
.sudang__calc_layer_top{
  border-bottom: 1px solid #dbe3ee;
  padding-bottom: 25px;
}
.sudang__calc_layer_top h2{font-size: 32px;margin-bottom: 5px;font-weight: 500;}
.sudang__calc_layer_top p{font-size: 18px;font-weight: 500;}
.sudang__calc_layer_con{
  padding:30px
}
.sudang__calc_layer_desc h3{font-size: 14px;margin-top: 25px;margin-bottom: 3px;}
.sudang__calc_layer_desc p{color: #919191;}
.sudang__calc_layer_close{width: 100%;height: 58px;background-color: #61bce6;font-size: 26px;color: #fff;}

/* 수당 계산기 */
.sudang__calc{
  max-width: 600px;margin: 0 auto;
  min-height: 100vh;
}
.sudang__calc_form{padding-bottom: 40px;border-bottom: 1px solid #dbe3ee;}
.sudang__calc_top_box{
  background: #61bce6;
  height: 130px;
  padding: 20px 30px 0 30px;
  position: relative;
}
.sudang__calc_top_box .caution{
  color: rgba(255,255,255,0.8);
  font-size: 12px;line-height: 1.3;
  display: block;
}

.sudang__calc_top_box h2{font-size: 38px;color: #fff;font-weight: 700;
  margin-bottom: 7px;font-weight: 300;
}
.sudang__calc_top_box h2 span{font-weight: 500;}
.sudang__calc_top_box .down{
  font-size: 14px;
  color: #fff;
  width: auto;margin-top: 15px;
	position: relative;line-height: normal;
	padding: 4px 10px;border: 1px solid #fff;  
}
.sudang__calc_top_box .down::before{
	content: "";display: inline-block;width:15px;height: 15px;
	margin-right: 7px;position: relative;top:2px;
	background: url(../img/down_ic.svg) no-repeat center/contain;
}
.sudang__calc_input_box dt{font-weight: 700;font-size: 16px;}
.sudang__calc_dl_box{
  display: flex;flex-wrap: wrap;margin-bottom: 20px;
  padding: 0 30px;
  margin-top: 10px;
}
.sudang__calc_input_box{
  display: flex;justify-content: space-between;
  width: 50%;
  height: 72px;
  align-items: center;
  margin-top: -1px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.sudang__calc_input_box:nth-child(odd){
  padding-right: 20px;
}
.sudang__calc_input_box:nth-child(even){
  padding-left: 20px;
}
.sudang__calc_input_box:nth-child(odd)::after{
  content: "";width: 1px;height: 32px;background-color: #dbe3ee;
  position: absolute;right: 0;
}

.sudang__calc_input_box dd{
  display: flex;flex-direction: column;align-items: flex-end;
}
.sudang__calc_input_box input{padding:0 10px;max-width: 80px;text-align: right;border-width: 1px;outline: none;border-radius: 4px;}
.sudang__calc_input_box input::placeholder{color: #d4d4d4;}
.sudang__calc_input_box .per{position: relative;}
.sudang__calc_input_box .per input{
  width: 90px;padding-right: 27px;
}
.sudang__calc_input_box .per::after{
  content: "%";position: absolute;right: 10px;top:50%;transform: translateY(-50%);display: block;
}
.sudang__calc_format_price{font-size: 12px;text-align: right;padding-right: 5px;height: 20px;margin-top: 3px;color: #888;}

.sudang__calc_btn_box{
  display: flex;padding:0 15px;
}
.sudang__calc_btn_clear{width: 100%;height: 60px;border:1px solid #61bce6;margin-right: 10px;color: #61bce6;border-radius: 5px;font-weight: 400;background-color: #fff;font-size: 20px;font-family: 'Pretendard'}
.sudang__calc_btn_calc{width: 100%;height: 60px;background-color: #61bce6;color: #fff;border-radius: 5px;font-weight: 400;font-size: 20px;font-family: 'Pretendard'}

.sudang__calc_result{padding:0 30px;
  border-bottom: 1px solid #dbe3ee;
  background-color: #f8feff;display: none;opacity: 0;
}
.sudang__calc_result.on{display: block;animation: fade_in 0.3s forwards;}

@keyframes fade_in {
  100%{
    opacity: 1;
  }
}
.sudang__calc_result_list_li{
  border-bottom: 1px solid #ddd;
  padding:35px 0;
  display: flex;
  justify-content: space-between;
}
.sudang__calc_result_list_li.col{
  flex-direction: column;
}
.sudang__calc_result_list_li:last-child{border-bottom: 0;}
.sudang__calc_result_list_div{
  display: flex;
  justify-content: space-between;
}
.sudang__calc_result_list_info{
  padding: 15px;text-align: center;
  padding-right: 0;
  flex: 1;
}
.sudang__calc_result_list_info h4{
  color: #111;text-align: center;margin-bottom: 15px;
}
.sudang__calc_result_list_info .sudang__calc_result_info_caution{
  margin-top: 5px;padding:10px;
}
.sudang__calc_result_info{
  display: flex;text-align: center;
  flex: 1;
  white-space: nowrap;
  align-items: center;justify-content: space-between;
}
.sudang__calc_result_info dl{
  position: relative;
  justify-content: center;
  display: flex;
  line-height:1.3;
  flex-direction: column;
}
.sudang__calc_result_info dt{
  font-size: 18px;font-weight: 700;font-weight: 500;color: #191919;
  display: flex;justify-content: center;align-items: center;
}

.sudang__calc_result_info .ic_x{width: 22px;height: 22px;display: block;position: relative;}
.sudang__calc_result_info .ic_x::before{
  content: "";display: block;width: 1px;height: 25px;background-color: #b5b5b5;
  transform: rotate(45deg);position: absolute;left:12px;top:0
}
.sudang__calc_result_info .ic_x::after{
  content: "";display: block;width: 1px;height: 25px;background-color: #b5b5b5;
  transform: rotate(-45deg);position: absolute;left:12px;top:0
}
.sudang__calc_result_info .ic_x.small{width: 15px;height: 15px;margin-left: 5px;margin-right: 0;position: relative;}
.sudang__calc_result_info .ic_x.small::before{
  height: 16px;left:6px;top:0;
}
.sudang__calc_result_info .ic_x.small::after{
  height: 16px;left:6px;top:0;
}
.sudang__calc_result_list_info dt span{font-size: 20px;font-weight: 600;}
.sudang__calc_result_list_info dt span.rank{font-size: 18px;}
.sudang__calc_result_list_info dt span,
.sudang__calc_result_list_info .sudang_price span{margin: 0 4px;}
.sudang__calc_result_list_info.green dt span,
.sudang__calc_result_list_info.green .sudang_price span{color: #5ca848;}
.sudang__calc_result_list_info.red dt span,
.sudang__calc_result_list_info.red .sudang_price span{color: #d62626;}
.sudang__calc_result_list_info.blue dt span,
.sudang__calc_result_list_info.blue .sudang_price span{color: #285098;}


.sudang__calc_result_info dl.calc_per{padding-right: 0;margin-right: 0;}

.sudang__calc_result_info .ic_e{width: 19px;height: 11px;display: block;position: relative;}
.sudang__calc_result_info .ic_e::before{
  content: "";display: block;width: 100%;height: 1px;background-color: #d3d5d6;
  position: absolute;left:0;top:0;
}
.sudang__calc_result_info .ic_e::after{
  content: "";display: block;width: 100%;height: 1px;background-color: #d3d5d6;
  position: absolute;left:0;bottom:0
}
.sudang__calc_result_info dd{color: #888;font-size: 14px;}

.sudang__calc_result_info.no dl.calc_per{padding-right: 0;margin-right: 0;}


.sudang__calc_result_info .sudang_price {font-size: 21px;font-weight: 500;color: #191919;}
.sudang__calc_result_info .sudang_price span{font-size: 28px;font-weight: 700;}

/* 지급액 기준 */
.sudang__calc_hidden_con_wrapper{margin-top: 10px;}
.sudang__calc_hidden_con_wrapper .btn{
  width: 100%;height: 43px;line-height: 43px;border: 1px solid #dbe3ee;
  background-color: #fff;text-align: center; 
}
.sudang__calc_hidden_con_wrapper.on .hide_con{background-color: #fbfbfb;color: #969696;border-top: 0;}
.sudang__calc_hidden_con_box{
  border: 1px solid #dbe3ee;background-color: #fff;
  display: none;
  padding: 15px 10px;
}
.sudang__calc_hidden_con_wrapper .hide_con,
.sudang__calc_hidden_con_wrapper.on .open_con{
  display: none;
}
.sudang__calc_hidden_con_wrapper .open_con,
.sudang__calc_hidden_con_wrapper.on .hide_con,
.sudang__calc_hidden_con_wrapper.on .sudang__calc_hidden_con_box{
  display: block;
}


.sudang__calc_result_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-right: 25px;position: relative;
  min-width: 135px
}
.sudang__calc_result_list::after{
  content: "";display: inline-block;width: 1px;height: 54px;background-color: #dbe3ee;position: absolute;right: 0;
}
.sudang__calc_result_list dt{font-size: 22px;font-weight: 500;position: relative;text-align: center;}
.sudang__calc_result_list dt span{
  display: block;font-size: 18px;
}
.sudang__calc_result_list dd{
  display: flex;justify-content: center;
}
.sudang__calc_cate{display: inline-block;height: 22px;line-height: 22px;padding:0 5px;color: #fff;font-size: 12px;margin: 0 1px;}
.sudang__calc_cate.regular{background-color: #5ca848;}
.sudang__calc_cate.p_regular{background-color: #d62626;}
.sudang__calc_result_list dl dt{display: flex;align-items: center;position: relative;font-size: 22px;}
.sudang__calc_result_list dt .ic{
  width: 16px;height: 16px;
  display: inline-block;position: absolute;
  line-height: 16px;text-align: center;
  right: -10px;top:-15px;border-radius: 50%;
  color: #fff;font-size: 12px;font-weight: 700;
  background-color: #c5c5c5;
}

.sudang__calc_result_list:first-child{border-top: 0;}
.sudang__calc_result_list_li.total{padding: 15px;display: none;background-color: #7dcb6a;}
.sudang__calc_result_list_li.total dl{cursor:auto;}
.sudang__calc_result_list_li.total dt{font-weight:bold;font-size:17px;color: #fff;}
.sudang__calc_result_list_li.total dd{color:#fff;font-weight:bold;font-size:17px;}
.sudang__calc_result_list_li.on{padding-bottom: 0;}

.sudang__calc_result_list_li.on .sudang__calc_result_list_info{
  display: block;
}
.sudang__calc_result.on .sudang__calc_result_list .off_txt{display: none;}
.sudang__calc_bottom_caution{
  padding:5px;
}
.sudang__calc_result_info_caution_h4{
  padding-left: 10px;padding-top: 10px;
  font-weight: 600;font-size: 14px;color: #131313;
}
.sudang__calc_result_info_caution{
  display: block;text-align: left;
  color:#888;font-size: 13px;
  padding: 8px 10px;
}
.sudang__calc_result_info_caution li{
  padding-left: 8px;position: relative;margin-bottom:5px;
}
.sudang__calc_result_info_caution li strong{color: #333;}
.sudang__calc_result_info_caution li:last-child{margin-bottom:0}
.sudang__calc_result_info_caution li::before{
  content: "";width: 4px;height: 1px;background-color: #aaa;
  position: absolute;left:0;top:7px;
}
.tbl_basic.sudang__calc_result_info_table tbody td, 
.tbl_basic.sudang__calc_result_info_table tbody th{
  padding:5px;font-size: 14px;
}
.tbl_basic.sudang__calc_result_info_table tbody tr.on td{
  background-color: #fef5f5;font-weight: 500;color: #111;
  font-size: 16px;
}
.tbl_basic.sudang__calc_result_info_table.blue tbody tr.on td{
  background-color: #f1f6ff;
}

/* over_width */
.sudang__calc_result_list_li.over_width{
  flex-direction: column;
}
.over_width .sudang__calc_result_list{align-items: flex-start;}
.col.over_width .sudang__calc_result_list_div{flex-wrap: wrap;justify-content: flex-start;}
.over_width .sudang__calc_result_list::after{display: none;}


@media all and (max-width:540px) {

  .sudang__calc_top_box{height: 120px;}
  .sudang__calc_form{padding-bottom: 25px;}
  .sudang__calc_result_list{padding-right: 0;
    flex-direction: row;justify-content: space-between;
  }
  .sudang__calc_result_list_li{padding: 20px 0 15px 0;}
  .sudang__calc_result_list dt .ic{right: -26px;top:50%;transform: translateY(-50%);}
  .sudang__calc_result_list dt{display: flex;align-items: center;margin-bottom: 0;font-size: 18px;padding-left: 8px;font-weight: 700;}
  .sudang__calc_result_list dt span{font-size: 18px;}
  .sudang__calc_result_list dt::before{content: "";display: block;width:3px;height: 3px;border-radius: 50%;background-color: #333;position: absolute;left: 0;top:50%;transform: translateY(-50%);}
  .sudang__calc_result_list dt span{display: inline-block;margin-right: 5px;}
  .sudang__calc_result_list_info{padding: 15px 5px 0 5px;}
  .sudang__calc_result{padding:0 10px}

  .sudang__calc_hidden_con_wrapper .btn{height: 38px;line-height: 38px;}
  
  .sudang__calc_result_list_div,
  .sudang__calc_result_list_li{flex-direction: column;}
  .sudang__calc_result_list::after{display: none;}

  .sudang__calc_top_box h2{font-size: 28px;}

  .sudang__calc_btn_clear,
  .sudang__calc_btn_calc{height: 46px;font-size: 16px;}


  .sudang__calc_input_box dt,
  .sudang__calc_result_info dt{font-size: 14px;}
  .sudang__calc_result_list_info dt span{font-size: 16px;}
  .sudang__calc_result_list_info dt span.rank{font-size: 15px;}
  .sudang__calc_result_info dd{font-size: 12px;}

  .sudang__calc_result_list dt br{display: none;}

  .sudang__calc_result_info .sudang_price{font-size: 17px;}
  .sudang__calc_result_info .sudang_price span{font-size: 20px;}

  .sudang__calc_layer_con{padding: 20px;}
  .sudang__calc_layer_top h2{font-size: 20px;}
  .sudang__calc_layer_top{padding-bottom: 20px;}
  .sudang__calc_layer_desc h3{margin-top: 20px;}
  .sudang__calc_layer_top p{font-size: 15px;}
  .sudang__calc_layer_close{height: 48px;font-size: 20px;}
}